//desktop view
@media (min-width: 800px) {
  //nav-bar
  .nav-bar {
    display: block;
    height: 40px;
    border-bottom: 5px double #999da0;
    border-left: 4px solid #999da0;

    .button-wrap {
      float: right;
      padding-bottom: 2px;
      padding-top: 10px;

      .button {
        text-decoration: none;
        color: black;
        opacity: 0.5;
        margin: 0px 0px;
        padding: 0px 10px;
        font-size: 20px;
      }
      .button-border {
        border-right: 1px solid 43;
      }
    }
  }

  //qna table
  .table-wrap {
    margin: 30px 5%;
  }

  .table-form-wrap {
    width: 100%;
    height: 90vh;

    .write-button {
      float: right;
      height: 40px;
      width: 70px;
      border-radius: 7px;
      right: 0;
      margin-bottom: 10px;
      font-size: 15px;
    }

    .table-form {
      width: 100%;
    }

    .table-footer {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .search-wrap {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        .search-select {
          height: 30px;
          width: 100px;
          font-size: 15px;
          opacity: 0.6;
        }

        .search-input {
          height: 30px;
          width: 100%;
          border: 1px solid #999da0;
          border-radius: 7px;
          opacity: 0.6;
          font-size: 14px;
          margin: 0px 10px;
        }

        .search-button {
          height: 30px;
          width: 50px;
          border-radius: 7px;
        }
      }

      .footer-right {
        display: flex;
        align-items: center;
        justify-content: center;

        .paginator-wrap {
          width: 40px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 30px;
          margin-right: 10px;
        }
      }
    }
  }

  //sign-in
  .sign-in-form {
    .input {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .button {
      border: 2px solid #999da0;
      width: 150px;
      height: 40px;

      display: flex;
      justify-content: center;
      align-items: center;

      .sign-in-button {
        text-decoration: none;
        color: black;
        opacity: 0.5;
        margin: 0px 0px;
        padding: 0px 10px;
        font-size: 30px;
      }
    }
  }
}

//mobile view
